<footer class="lc-footer">

  <div class="lc-footer__inner">

    <div class="lc-footer__brand">
      <span>ASOCIACIÓN CULTURAL</span>
      <strong>LOS CRÍTICOS DE TEATRO</strong>
    </div>

    <!--
    <nav class="lc-footer__nav">

      {% for nav_item in nav %}
        <a href="{{ nav_item.url | url }}">
          {{ nav_item.title }}
        </a>
      {% endfor %}

    </nav>
    -->
    
    <div class="lc-footer__claim">
      Linares vive el teatro
    </div>

  </div>

  <div class="lc-footer__copyright">
    © 2026 Asociación Cultural Los Críticos De Teatro
  </div>

</footer>